# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# build
dist/
web-build/

# logs
npm-debug.*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.*

# keys / certificados
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDEs
.idea/
.vscode/

# Android Studio / IntelliJ
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# misc
*.orig.*